@import url('https://fonts.googleapis.com/css2?family=Namdhinggo&display=swap');

.fileDropContainer {
  width: 99vw;
  height: 95vh;
  text-align: center;
  font-family: 'Namdhinggo', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fileInput {
  padding: 1rem 4rem;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 2rem;
  margin: 0px;
}
canvas
{
  border-radius: 20px;
  height: inherit !important;
  width: inherit !important;
}
.Canvas3D {
  width: 100%;
  color: #2a2a2a;
  font-size: 2rem;  
  border-radius: 20px;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.Canvas3D > p{
  position: absolute;
  top: 10px;
  color: black;
  left: 20px;
}

.ControlPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d7d7d7;
  background-color: #2a2a2a;
  font-size: 2rem;
  padding: 20px;
  border-radius: 20px;
  height: 80vh !important;
  overflow:auto;
}

p{
  padding: 0px;
  margin: 0px;
}

.Main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ControlText{
  padding: 20px 25px;
  background-color: #777777;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  max-height: 20px;
}


/* Small screens (phones) */
@media only screen and (max-width: 600px) {
  .fileDropContainer {
    font-size: 18px;
    flex-direction: column;
  }
  .Main
  {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .fileInput {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .Canvas3D {
    position: relative;
    font-size: 1.5rem;
    flex: 1;
  }
  canvas{
    width: 100vw !important;
    height: 70vh !important;
  }

  .ControlPanel {
    font-size: 1.5rem;
    padding: 10px;
    flex: 1;
  }

  .ControlText {
    padding: 10px 15px;
    font-size: 12px;
  }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .fileDropContainer {
    font-size: 20px;
  }

  .fileInput {
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }

  .Canvas3D {
    font-size: 1.8rem;
  }

  .ControlPanel {
    font-size: 1.8rem;
    padding: 15px;
  }

  .ControlText {
    padding: 15px 20px;
    font-size: 14px;
  }
}

/* Large screens (desktops) */
@media only screen and (min-width: 1025px) {
  .fileDropContainer {
    font-size: 25px;
  }

  .fileInput {
    padding: 1rem 4rem;
    font-size: 2rem;
  }

  .Canvas3D {
    font-size: 2rem;
  }

  .ControlPanel {
    font-size: 2rem;
    padding: 20px;
  }

  .ControlText {
    padding: 20px 25px;
    font-size: 15px;
  }
}
